<LocalConfig>
  <rpc_config>
    <rpc_name>settingServices</rpc_name>
    <listen_addr>localhost</listen_addr>
    <listen_port>50007</listen_port>
  </rpc_config>
  <etcd_config>
    <host>api.ikanned.com</host>
    <port>22379</port>
    <username>services</username>
    <password>Passcode1!</password>
  </etcd_config>
</LocalConfig>