.App {
    margin: 100px;
    justify-items: center;
    background-color: #cfcfcf;
    padding: 20px;
}

.Son {
    width: 100%;
    justify-items: center;
    padding: 10px;
}

.son-send-btn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}