.App {
    margin: 100px;
    justify-items: center;
    background-color: #e3e5e7;
    padding: 20px;
}

.SonA {
    width: 100%;
    justify-items: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #acacac;
}

.SonB {
    width: 100%;
    justify-items: center;
    margin: 10px;
    background-color: #d1d1d1;
}

.son-send-btn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.result {
    color: blue;
}